*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
    
  }
  .contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction:column;  
      background: url(photo1.jpg);
    background-size: cover;
  }
  .contact .content{
    max-width:  800px;
    text-align: center; 
  }
  .contact .content h2{
    font-size: 30px;
    font-weight: 500;
    align-items: center;
    padding-bottom: 80px;
    
  }
  .contact .content p{
    
    font-weight: 300;
    color:#fff;
  }
  .containerr{
    width: 100%;
    display: flex;
    justify-content: center; 
   align-items: center;
    margin-top: 30px;
    
  }
  .containerr .contactInfo {
    width: 50%;
    display: flex;
    flex-direction:column;
  
    
  }
  .containerr .ContactInfo .box {
    /* position: relative;
    padding: 10px 0;
   
   
    display: flex; */
   align-items: center;
  }
  /* .containerr .contactInfo .box .icon {
    max-width: 60px;
    height: 60px; 
    background: #fff;
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
  } */
  .containerr .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    color: #fff;
    flex-direction: column;
    font-size: 16px;
    font-weight: 300;
   
  }
  .containerr .contactInfo .box .text h3{
    font-weight: 500;
    color:darkgoldenrod;
  }
  .contactForm{
    width: 50%;
    padding: 40px;
    background: #fff;
    margin-left: 530px;
    margin-top: -380px;
  }
  .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contactForm .inputBox input,
  .contactForm .inputBox textarea
  {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline:none;
  }
  .contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span{
    color: darkgoldenrod;
    font-size: 12px;
    transform: translateY(-20px);
  }
  .contactForm .inputBox input[type="submit"] {
    width: 100px;
    background: darkgoldenrod;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  @media (max-widht:991px){
    .contact{
      padding: 50px;
    }
      .containerr{
       flex-direction: column;
      }
      .containerr .contactInfo{
        margin-bottom: 40px;
      }
      .containerr .contactInfo,
      .contactForm
      {
        width: 40px;
      }
    
  }
  .phone{
    width: 50px;
    margin-left: -70px;
   /* margin-top: 50px;  */
   
  }
  .address{
    width: 50px;
    margin-left: -70px;
  }
  .emaill{
    width: 50px;
    margin-left: -70px;
  }
  /* .icon{
    padding-bottom: 10px;
  } */