.main{
	text-align: center;
	justify-content: center;
	display: flex;
	padding: 90px 0 90px 0;
	background-color: rgb(252, 252, 252);
}
h2{
	font-size: 10px;
}
.sub-main{
	display: flex;
	justify-content: center;
	height: 550px;
	width: 30%;
	box-shadow: 11px 12px 11px 12px rgb(207, 207, 207);
	padding-top: 30px;
	border-radius: 60px;
	background-color: white;
}
.imgs{
	padding-top: 20px;
	justify-content: center;
	display: flex;
}
.container-image{
	background-color:rgb(223, 223, 223) ;
	border-radius: 150px;
	align-items: center;
	display: flex;
	height: 115px;
	width: 115px;
}
.profile{
height: 100px;
width: 100px;
border-radius: 100px;
margin-left: 7px;
}

.email{
	height: 30px;
	width: 30px;
	position: absolute;
	padding: 14px 15 15 25px;
	margin-top: 10px;
	margin-left: 10px;

	
}
.user{
	padding-left: 50px;
	font-size: 15px;
	width: 300px;
	height:50px;
	border-radius: 60px;
	box-shadow: inset 0px 0px 25px 0px rgba(207, 203, 203);
	border: none;
	outline: none;
	background-color: white;
}

.second-input{
	padding-top: 20px;
}
.button-connexion {
	width: 300px;
	height: 50px;
	border-radius: 60px !important;
	;
	background-color: darkgoldenrod;
	color: white;
	font-size: 25px;
	border: none;
	
	align-items: center;
	

}
.login-button{
	border-radius: 60px;
	padding-top: 25px;
	
	
}
.link{
	font-size: 15px;
	font-weight: 300;
    color:black !important;
}
/* a{
	color:darkgoldenrod !important;
} */
a:hover{
color:darkgoldenrod;
}
